target/
*.class
*.log
*.iml
*.ipr
*.iws
*.idea/
.idea/
tags/
*.swp
*.swo
build/
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml
.DS_Store
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
out/
*/build/
*/gradle/
*/out/
*/.idea/
*.epoch
*.lck
*.log
.settings/
*.pyc
*.idea/
.idea/
classes/
.gradle/
build/
buildinfo.properties
argfile*
src/main/resources/marlin-prod.properties
.vscode/
bin/*